@charset "utf-8";

div.slider {
 height:19px;
 width:542px;
 padding:0 10px;
 margin:0;
 outline:0;
 background:url(image/scrollbar.png) no-repeat;
}

div.slidertoggle {
 position:absolute;
 margin:0;
 outline:0;
 top:0px;
 left:0px;
 z-index:1000;
 height:19px;
 width:181px;
 cursor:pointer;
 cursor:hand;
 background:url(image/handle.png) no-repeat;
}