@charset "utf-8";
/* CSS Document */

/*
===== 1: CLEARFIX ==========================================
*/
.clear {
	clear:both;
}

.clearfix{
    zoom:1;/*for IE 5.5-7*/
}
.clearfix:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
    visibility:hidden;
}
* html .clearfix{
	display:inline-table;
	/*\*/display:block;/**/
}
.c_navi {
	clear:both;
	font-size: 12px;
	text-align:left;
}
.c_pagetop {
	clear:both;
	font-size: 10px;
	text-align:right;
	padding:1em;
}

/*
===== 2: EACH MODULE ==========================================
*/
.border{
	border-bottom:1px solid #999;
}

.t9{
	font-size:9px;
	letter-spacing:0.02em;
}

.t10{
	font-size:10px;
}
